.publication-title {
  font-weight: 700;
}

.publication-authors .author-block {
  display: inline-block;
  margin-right: 0.5em;
}

.publication-links .link-block {
  display: inline-block;
  margin-right: 1em;
}

.eql-cntrb {
  display: block;
  margin-top: 0.5em;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}
